<div class="row">
  <div class="col-md-6">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perspiciatis earum saepe iusto ipsum magni
      quaerat dicta sed sequi fugit dolorem temporibus cupiditate fuga iure, similique omnis quae ea hic!Ratione nulla
      odit neque repellat? Facilis quibusdam incidunt ducimus iure ullam adipisci rem magni vero possimus dolores earum
      quaerat repellendus, amet velit. Sed odio velit eius, deserunt voluptas soluta possimus.</p>
  </div>

  <div class="col-md-6">

  </div>
</div>