<div class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <div class="contacts">
        <h6>For any queries contact us on:</h6>
        <span><i class="fas fa-phone"></i> &nbsp;9986994271 </span>
        <span><i class="fas fa-envelope"></i> &nbsp;debtsquare.mailer@gmail.com </span>
      </div>
      <div class="socials">
        <h6>Follow us on social media:</h6>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="footer-section">
      <h5>Useful Links</h5>
      <div class="links">
        <ul>
          <a href="#">
            <li>About us</li>
          </a>
          <a href="#">
            <li>Feedback</li>
          </a>
          <a href="#">
            <li>Support</li>
          </a>
        </ul>
      </div>
    </div>
    <div class="footer-section">
      <h5>Write to Us</h5>
      <form class="writeus-form">
        <input type="email" name="writeus-email" placeholder="Your email address...">
        <textarea name="writeus-text" placeholder="Your message..."></textarea>
        <button type="submit">Send <i class="fas fa-envelope"></i></button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    DebtSquare &copy; {{currentYear}} | Non-commercial | Non-profit
  </div>
</div>