<!-- <div class="backdrop"></div> -->
<div class="signin-body">
  <div class="login-box">
    <img src="../../../assets/images/avatar.png" alt="" class="signin-image">
    <h3 class="signin-header">LogIn Here</h3>
    <div class="signin-form">
      <form>
        <div class="sign-form__group">
          <label for="loginId">Username</label>
          <input type="text" name="loginId" id="loginId" placeholder="Enter email/number...">
        </div>
        <div class="sign-form__group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter password..">
        </div>
        <div class="signin-form__buttons">
          <button type="submit">Sign In</button>
          <button type="reset">Cancel</button>
        </div>
        <div class="signin__links">
          <span class="signin__link">Forgot your password? <a href="#">Click here</a></span>
          <span class="signin__link">Don't have a Account? <a href="#">Sign Up here</a></span>
        </div>
      </form>
    </div>
  </div>
</div>